body { background: #bf5e8e; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 49px; display: flex; }
.block-notify-0 { color: #3ef5ba; font-size: 19px; margin-bottom: 5px; }
.block-search-1 { color: #c83b77; font-size: 21px; margin-bottom: 5px; }
.block-notify-2 { color: #f6afde; font-size: 12px; margin-bottom: 5px; }
.block-email-3 { color: #9143e4; font-size: 20px; margin-bottom: 5px; }
.block-config-4 { color: #ab9fa2; font-size: 20px; margin-bottom: 5px; }